.project-content {
    margin: 0 25% 15% 5%;
    line-height: 28px;
}

section {
    padding: 100px 20px;
    margin-left: 100px;
    flex: 1;
}

h1 {
    text-align: center;
    color: white;
    background-color: #131313;
    padding: 5%;
    border-radius: 10px;
}

h2 {
    font-size: 25px;
    white-space: nowrap;
    background: none;
}

li, p {
    font-size: 16px;
}

b {
    color: #df8d12;
}

/* Overview */
.project-overview-info-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    background-color: #131313;
    padding: 5%;
    color: white;
    border-radius: 0 0 25px 25px;
}

.project-overview-info-title {
    grid-row: 1;
    font-size: 18px;
    background-color: #3f3f3f;
    border-radius: 15px;
    padding: 7%;
    text-align: center;
}
.project-overview-info {
    font-size: 15px;
    background: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.project-overview-details {
    background: none;
    text-align: left;
}

.project-overview-details ul, .project-overview-details li {
    background: none;
    /* list-style: none; */
    margin: 0;
    padding: 0;
}



/* Side Nav */
.side-navbar {
    position: fixed;
    top: 50%;
    right: -500px;
    width: 150px;
    transform: translateY(-50%);
    padding: 25px;
    border-radius: 20px 0 0 20px;
    z-index: 1000;
    transition: right 0.5s ease-in-out;
}

.side-navbar.visible {
    right: 0;
    margin-right: 5%;
}

.side-navlinks {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav-item {
    margin: 12% 0 0 -25%;
}

.side-nav-item a {
    color: #131313;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 15px 10px;
    border-left: 5px solid rgb(139, 139, 139);
    transition: all ease-out 0.3s;
    background: none;
}

.side-nav-item a.active {
    background-color: #1b1b1b;
    border-left: 15px solid #f7bc1b;
    color: #e7e7e7;
}

.side-nav-item a:hover {
    background-color: #F79E1B;
    border-left: 15px solid #ff2600;
    color: #1f1f1f;
}

/* Header */
.header {
    display: flex;
    background: #131313;
    color: white;
    font-size: 30px;
    padding: 9%;
}

.header h1 {
    color: white;
}

.header-img {
    background: none;
    margin-left: 10%;
}

.header-text {
    background: none;
    margin-right: 10%;
    margin-left: 40%;
    /* margin-top: 3%; */
}

.projectthumbnail {
    width: 150%;
    height: auto;
    flex: 1;
    margin-top: 50%;
    margin-left: 50%;
    margin-bottom: 10%;
}


.title {
    background: none;
    color: white;
    padding-top: 25%;
}

.sub-title {
    color: white;
    background: none;
}

.time-frame,
.role {
    text-align: center;
    color: white;
}

img {
    background: none;
}

/* Project Title */
.project-section-title {
    font-size: 40px;
}

/* Tags */
.tags {
    display: flexbox;
    gap: 10px;
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #fffefe;
    color: #333;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsibilities Section */
.responsibilities-1 {
    margin-top: 8%;
}

.responsibilities-icon {
    width: 40%;
    height: auto;
}

.accessibility-project-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.accessibility-project-wrapper h3 {
    font-size: 20px;
    align-content: center;
}

.accessibility-project-wrapper p, li {
    font-size: 12px;
    align-content: center;
}

/* Image Carousel */
.image-carousel-wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
  }
  .image-carousel-wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .image-carousel-wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .image-carousel-wrapper i:hover{
    background: #f2f2f2;
  }
  .image-carousel-wrapper i:first-child{
    left: -22px;
  }
  .image-carousel-wrapper i:last-child{
    right: -22px;
  }
  .image-carousel-wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 300px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }
