.project-content {
    margin: 0 20% 5% 15%;
    line-height: 25px;
}

section {
    padding: 100px 20px;
    margin-left: 100px;
    flex: 1;
}

.title {
    background: none;
    color: white;
}

.sub-title {
    color: white;
    background: none;
}

h1 {
    text-align: center;
    color: white;
    background-color: #60B257;
    padding: 5%;
    border-radius: 10px;
}

h2 {
    font-size: 25px;
    white-space: nowrap;
    background: none;
}

li, p {
    font-size: 14px;
    background: none;
}

a{
    text-decoration: none;
    border: 0;
}

img {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

b {
    color: #101010;
    background-color: #add3f3;
    padding: 0.28%;
    border-radius: 3px;
}

/* Side Navbar */
.side-navbar {
    position: fixed;
    top: 50%;
    right: -500px;
    width: 100px;
    transform: translateY(-50%);
    padding: 25px;
    border-radius: 20px 0 0 20px;
    z-index: 1000;
    transition: right 0.5s ease-in-out;
}

.side-navbar.visible {
    right: 0;
    margin-right: 10%;
}

.side-navlinks {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav-item {
    margin: 12% 0 0 -25%;
}

.side-nav-item a {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 15px 10px;
    border-left: 5px solid rgb(179, 186, 194);
    transition: all ease-out 0.3s;
    background: none;
}

.side-nav-item a.active {
    background-color: #3CA97B;
    border-left: 15px solid #29855e;
    color: rgb(255, 255, 255);
}

.side-nav-item a:hover {
    background-color: #c3f1de;
    border-left: 15px solid #3CA97B;
    color: #0f3827;
}

/* Header */
.header {
    display: flex;
    background: #60B257;
    color: white;
    font-size: 30px;
}

.header-img {
    background: none;
    margin-left: 15%;
}

.header-text {
    background: none;
    margin-right: 15%;
    margin-left: 10%;
    margin-top: 9%;
}

.projectthumbnail {
    width: 100%;
    height: auto;
    flex: 1;
}

.title {
    padding-top: 2em;
    font-size: 40px;
}

/* Remodeling Message */
.remodeling-warning {
    text-align: center;
}

iframe {
    margin: 2% 15% 5% 8%;
}

.website-link {
    margin: 2% 25% 5% 25%;
    background-color: #60B257;
    padding: 1%;
    color: white;
    border-radius: 5px;
    text-align: center;
}

/* Overview */
.project-overview-info-wrapper {
    display: grid;
    margin-top: -3%;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
    background-color: #007ADF;
    padding: 5%;
    color: white;
    border-radius: 0 0 25px 25px;
}

.project-overview-info-title {
    grid-row: 1;
    font-size: 18px;
    background-color: #005eaa;
    border-radius: 15px;
    padding: 7%;
    text-align: center;
}

.project-overview-info {
    font-size: 15px;
    gap: 30px;
    justify-content: center;
    margin-top: -10%;
    background: none;
    text-align: center;
}

.project-overview-details {
    background: none;
    text-align: left;
}


.overview-img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}